/* ==UserStyle==
@name         Dark Fandom Zendesk
@namespace    Andyn
@author       Andyn
@updateURL    https://gitlab.com/mazyn/deskfan/raw/master/dark.user.css
@version      2.0.39
@preprocessor less
==/UserStyle== */
@text-color: #eeeeee;
@text-color-secondary: #9e9e9e;
@link-color: #03a9f4;
@border-color: #455a64;
@accent-color: #0a0a0a;
@background-color: #040404;
.buttons() {
    color: @text-color !important;
    border-color: @border-color !important;
    &:hover:not(.dropdown-toggle):not([data-action="change-password"]):not(.comment-show-container),
    &:active:not(.dropdown-toggle):not([data-action="change-password"]):not(.comment-show-container),
    &:focus:not(.dropdown-toggle):not([data-action="change-password"]):not(.comment-show-container) {
        border-color: #5d8091 !important;
        background-color: #5d8091 !important;
    }
}
@-moz-document domain("support.fandom.com") {
    /* Common */
    /** Scrollbars **/
    ::-webkit-scrollbar {
    	width: 6px;
    	height: 6px;
    }
    ::-webkit-scrollbar-thumb {
    	background-color: rgba(50,50,50,0.5);
    }
    ::-webkit-scrollbar-thumb:hover {
    	background-color: rgba(40,40,40,0.75);
    }
    ::-webkit-scrollbar-thumb:active {
    	background-color: rgba(30,30,30,1);
    }
    ::-webkit-scrollbar-track {
    	background-color: transparent;
    }
    body {
    	scrollbar-width: thin;
    	scrollbar-color: rgba(50,50,50,0.5) transparent;
    }
    /** Header **/
    body > a.skip-navigation + div {
        background-color: #141414 !important;
    }
    /** Footer **/
    .footer {
        background-color: #0e0e0e;
        border: unset;
    }
    /** Link color **/
    a,
    .footer-language-selector button {
        color: @link-color !important;
    }
    /** Background color **/
    body {
        background-color: @background-color;
        color: @text-color;
    }
    /** Buttons **/
    .button,
    button,
    .button-large {
        .buttons();
    }
    /** Dropdown menus **/
    .dropdown-menu {
        background-color: @accent-color;
        border-color: @border-color;
        * {
            color: @text-color !important;
            font-weight: revert !important;
            &:hover,
            &:focus {
                background-color: rgb(96 125 139 / 15%) !important;
            }
        }
        [role="separator"] {
            border-color: @border-color;
        }
    }
    /** Header background **/
    .midlight {
        background-image: linear-gradient(to top, rgb(0 176 255 / 25%) 54%, transparent 54%, transparent 100%);
    }
	/** Search **/
    .search {
        border-color: @border-color !important;
		&:focus-within {
			border-color: #6c8b9b !important;
		}
		input {
			background-color: @accent-color !important;
			color: @text-color !important;
			&::placeholder {
				color: #b1b1b1;
			}
		}
		.clear-button {
			background-color: black;
			&:focus {
				box-shadow: unset;
			}
		}
    }
    /** Set accent color and color scheme **/
    :root {
        accent-color: @accent-color;
        color-scheme: only dark;
    }

    /* Home page */
    /** Big buttons **/
    .blocks-item {
        background-color: #1e1e1e;
        &:hover,
        &:focus,
        &:active {
            background-color: #363536;
        }
        &-link:focus {
            box-shadow: unset;
        }
    }
    /** Hero image **/
    .hero {
        background-image: url('https://images.unsplash.com/photo-1519638399535-1b036603ac77');
    }
    /** Search suggestions **/
	zd-autocomplete-header {
		border-color: @border-color;
		background-color: #121111;
		color: @text-color;
	}
    zd-autocomplete-multibrand {
        color: @text-color;
        background-color: @accent-color;
        border-color: @border-color;
        &[aria-selected=true] {
            background-color: #5c5a5c;
        }
        zd-autocomplete-breadcrumbs-multibrand {
            color: unset;
        }
        zd-autocomplete-title-multibrand {
            color: @link-color;
        }
    }

	/* Search results */
	/** Section nav list **/
	.sidenav-item.current,
    .sidenav-item:hover {
        background-color: rgb(96 125 139 / 15%) !important;
    }

    /* Articles */
    /** Header/article divider **/
    .container-divider {
        border: unset;
    }
    /** Section nav list **/
    .sidenav-item.current-article,
    .sidenav-item:hover {
        background-color: rgb(96 125 139 / 15%);
    }
    /** Breadcumbs and metadata **/
    .breadcrumbs li,
    .meta-data {
        color: unset;
    }
    /** Agent avatar icon **/
    .avatar .icon-agent {
        border-color: black;
        color: #2196f3;
    }

    /* Contact us form */
    /** Submit button **/
    input[type="submit"] {
        .buttons();
        background-color: @border-color !important;
    }
    /** Form inputs **/
    .nesty-input,
    .nesty-panel,
    .nesty-panel ul,
    .nesty-panel li,
    .form-field input {
        background-color: @accent-color;
        border-color: @border-color !important;
        color: @text-color !important;
    }
    /** Form helper text **/
    .form-field .optional,
    .form-field p {
        color: @text-color-secondary;
    }
    /** Upload area **/
    .upload-dropzone {
        border-color: @border-color;
        span {
            color: @text-color-secondary;
        }
    }
    /** WYSIWYG editor **/
    #hc-wysiwyg {
        background-color: @accent-color;
        border-color: @border-color;
        [role=toolbar] {
            border-color: @border-color;
        }
        [class^=wysiwyg-icon-] {
            filter: invert(1);
        }
        [role=separator] {
            background-color: @border-color;
        }
    }
    /** Pre blocks **/
    pre {
        background-color: @accent-color;
        border-color: @border-color;
    }

    /* My activities view */
    /** Table headers **/
    .table th {
        color: unset;
    }
    /** Border between rows **/
    .table tr {
        border-bottom-color: @border-color;
    }
    /** Border under top header **/
    .collapsible-nav-border {
        border-bottom-color: @border-color;
    }
    /** Top header selected highlight **/
    .collapsible-nav-list li.current {
        border-bottom-color: #5c5a5c;
    }
    /** Pagination buttons **/
    .pagination-next-link,
    .pagination-prev-link,
    .pagination-first-link,
    .pagination-last-link {
        .buttons();
    }
    /** Status dropdown **/
    select#request-status-select {
        background-color: #141414;
        color: @text-color;
    }
    select:focus {
        border-color: @border-color;
    }

    /* Tickets */
    /** Ticket content codeblock **/
    .comment-body pre {
        border-color: @border-color;
        background-color: @accent-color;
    }
    /** Ticket sidebar **/
    .request-sidebar {
        background-color: @accent-color;
    }
    /** Ticket sidebar text and ticket sidebar attachment icon **/
    .request-details dt,
    .attachments .attachment-item .attachment-icon {
        color: unset;
    }
    /** Satisfaction box **/
    .satisfaction-box {
        border-color: @border-color;
        background-color: @accent-color;
    }
    /** Add to convo "button" **/
    .comment-show-container {
        background: @accent-color;
        cursor: pointer;
    }
    /** Title border **/
    .request-title {
        border-bottom-color: @border-color
    }
    /** Ticket sidebar border **/
    .request-details {
        border-bottom-color: @border-color
    }
    /** Comment border **/
    .comment {
        border-bottom-color: @border-color
    }
    /** Code blocks **/
    .comment-body :not(pre) > code {
        background-color: @accent-color;
        border-color: @border-color;
    }
    /** Block quotes **/
    .comment-body blockquote {
        color: unset;
    }

    /* Change password popup */
    [aria-labelledby="zd-change-password-modal-title"] {
        filter: invert(1);
    }

    /* Satisfaction rating */
    .satisfaction_ratings .box {
        border: unset;
        background-color: unset;
    }

    /* "your request has been submitted" popup */
    ._8501c48b891d479c737404064489e941-css._279ce882d5b4d40f90157d4671782328-css,
    ._8501c48b891d479c737404064489e941-css.fe7beb0ccf1d204827f7c9a2e8998068-css,
    ._8501c48b891d479c737404064489e941-css._8dd0a76f68c7953bb63fdf03cd572e56-css {
        filter: invert(1) hue-rotate(180deg);
    }
}
@-moz-document url-prefix('https://fandom.zendesk.com/auth') {
    /* Login popup */
    /* The popup */
    .modal {
        border: 1px solid @border-color;
        background-color: @background-color;
        color: @text-color;
    }
    /* Title and input titles */
    .title,
    form label {
        color: unset;
    }
    /** Sepator between social login options and username/password login inputs **/
    .separator {
        background: @border-color;
    }
    /** Social login button(s) **/
    .service {
        color: unset;
        background-color: @accent-color;
    }
    /** Username/password login inputs **/
    input {
        color: @text-color !important;
        background-color: @accent-color;
        border-color: @border-color !important;
    }
}